###############################################
######### KUBESPRAY HOSTS ######################
###############################################

[kube-master]
# Kube Master Node: To be added dynamically
{% for ip in groups['kube-master'] %}
{{ hostvars[ip][inventory_hostname]['ansible_default_ipv4']['address'] }} instance_name={{ hostvars[ip][inventory_hostname] }}
{% endfor %}

[cluster-setup]
# node running ansible commands
localhost ansible_connection=local ansible_python_interpreter=/usr/bin/python3
